# Flox manifest version managed by Flox CLI
version = 1

[install]
nodejs_24.pkg-path = "nodejs_24"

[build.deps]
command = '''
  npm install @finos/calm-cli
  npm prune
  mkdir -p $out/bin
  cp -r ./node_modules $out/
  cp ./node_modules/.bin/calm $out/bin
'''

[build.calm-cli]
version.command = "npm install @finos/calm-cli > /dev/null 2>&1 && npx calm --version"
description = "FINOS Common Architecture Language Model CLI"
command = """
  mkdir -p $out/bin
  cp -r ${deps}/bin/calm $out/bin/
  cp -r ${deps}/node_modules $out/
  find $out -type d -exec chmod +w {} ';'
"""
sandbox = "pure"
